<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <h1>Login Page</h1>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">Email Id</label>
<input type="email" class="form-control" name="email" [(ngModel)]="email">


                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="password">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   
                   <button class="btn btn-primary" (click)="readValues()">Login</button>


                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <a href="/signup">New Users Click Here</a>
            </div>
        </div>
    </div>
</div>
</div>