<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

         
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Phone</th>
        <th scope="col">Place</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Confirm Password</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of signupData">
       

        <td>{{i.name}}</td>
        <td>{{i.dob}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.place}}</td>
        <td>{{i.email}}</td>
        <td>{{i.password}}</td>
        <td>{{i.co_pass}}</td>
        <tr><a href="/"><button class="btn btn-success"></button></a></tr>
        
       

      
     
    </tbody>
  </table>

        </div>
    </div>
</div>