<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
<label for="" class="form-label">Name</label>
<input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
               
               
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">dob</label>
                    <input type="date" class="form-control" name="dob" [(ngModel)]="dob">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="phone">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Place</label>
                    <input type="text" class="form-control" name="place" [(ngModel)]="place">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="email">

                </div>
               
               
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="password">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpass" [(ngModel)]="confirmpass">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary"(click)="readValues()">Signup</button>
                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/">Back to Signin</a>
                </div>
            </div>
        </div>
    </div>
</div>